*{
    margin: 0px;
}
.chart-board
{
    height: 170px;
    width: 840px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.653);
}
.chart-board1
{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.653);
}
.chart-board2
{
    height:85px;
    width: 840px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.653);
}
.niche-wala
{
    height: 50%;
    width: 100%;
}
.para
{
    display: inline;
    background-color: blue;
}